 * { 
    margin: 0;
 }
 .k { 
    width: 100%; 
    height: 95vh; 
    background-image: url(/photo/Rectangle\ 47.jpg); 
    background-size: cover; 

} 
.sar {
    display: flex; 
    width: 90%; 
    height: 10vh; 
    margin-left: 5%; 
    justify-content: space-between; 
    align-items: center; 
}  
.s {
    width: 15vh; 
} 
.in { 
    width: 40%; 
    height: 100%; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 

} 
.in p { 
    color: white;
} 
.nomer { 
    width: 20%; 
    height: 100%; 
    display: flex;
    color: white;
    justify-content: space-around; 
    align-items: center;
}
.kalon { 
    margin-top: 10vh;
    width: 60%;
    margin-left: 9vh; 
    height: 60vh; 
    

}  
.kalon p { 
    color: white;
    font-size: 4vh; 
    margin-top: 7vh;
}
.kalon h1 { 
    font-size: 11vh; 
    color: white;
} 
.but {
    width: 90%; 
    margin-left: 5%; 
    height: 10vh; 
    display: flex; 
    justify-content: space-between;
} 
.but button { 
    width: 20vh; 
    height: 7vh; 
    background-color: green; 
    color: white;
    border: none; 
    border-radius: 1vh; 
    font-size: 2vh;
} 
.but img { 
    width: 8vh; 
    height: 8vh;

} 

.bur { 
    width: 100%; 
    height: 25vh; 
    background-color: #686868; 
    padding-top: 5vh;
} 
.bur h1 { 
    color: white; 
    margin-left: 5vh;  
    font-size: 6vh;
    
} 
.bur p { 
    margin-left: 5vh;
    color: #D2D2D2; 
    font-size: 2.5vh; 
    margin-top: 3vh;
} 

.ugl { 
    width: 100%; 
    height: 70vh; 
        background-color: #686868; 
        display: flex; 
        justify-content: space-evenly;  
        padding-top: 10vh;

} 
.yak { 
    width: 28%; 
    height: 100%; 
    background-color: #535353; 
    border-top-right-radius: 15vh;
} 
.yak img { 
    width: 70%; 
    height: 40%; 
    margin-left: 15%;
    margin-top: 5vh;
 } 
 .ugl h2 { 
    margin-left: 3vh; 
    margin-top: 7vh; 
    color: white;
 } 
 .ugl p { 
    font-size: 2.5vh; 
    margin-left: 3vh; 
    margin-top: 3vh; 
    color: #D2D2D2;
 } 
 .ugl button { 
    width: 30vh; 
    height: 7vh; 
    border: none; 
    border-radius: 0.2vh; 
    background-color: green; 
    color: white; 
    margin-left: 3vh; 
    margin-top: 4vh;
 } 
 .yakk { 
    background-color: #686868;
 } 
 .ugll { 
    padding-bottom: 10vh;
 } 
 .tet { 
    width: 100%; 
    height: 5vh;  
    margin-top: 19vh;
    margin-bottom: 17vh; 
    display: flex; 
    justify-content: center;
 } 
 .tet h1 { 
    font-size: 9vh; 
    color: #494B44;
 } 

 .parr { 
    width: 90%; 
    height: 95vh;  
    margin-left: 5%;
    
    margin-top: 19vh; 
 } 
 .ska { 
    width: 100%; 
    height: 60%; 
    display: flex; 
    justify-content: space-between;
 } 
 .tttex { 
    width: 30%; 
    height: 100%; 
   
 } 
 .surr { 
    width: 66%; 
    height: 100%; 
 } 
 .surr img { 
    width: 100%; 
    height: 100%;
 }
 .mayda { 
    width: 100%; 
    height: 30%;
    margin-top: 2%;
    
    display: flex;
    justify-content: space-between;
 } 
 .mayda img { 
    width: 32%; 
    height: 100%;
 } 
 .tttex h1 { 
    font-size: 7vh; 
    color: green;  
    margin-left: 3vh; 
    margin-top: 4vh;

 } 
 .tttex p { 
    color: #92938F; 
    margin-top: 5vh; 
    margin-left: 3vh;
    font-size: 2.8vh;
 } 
 .cambr { 
    width: 90%; 
    margin-left: 5%; 
    height: 90vh; 
    margin-top: 15vh; 
    background-image: url(/photo/cambr.jpg); 
    background-size: cover; 
    display: flex; 
    justify-content: space-around;
 } 
 .chap { 
    width: 42%; 
    height: 100%; 
    
 }
 .chapp { 
    width: 42%; 
    height: 90%; 
    margin-top: 4.8%; 
    background-image: url(/photo/sabz.png);
    background-size: cover;
 } 
 .chap h1 { 
    font-size: 7vh; 
    color: white; 
    margin-top: 14%; 
 } 
 .chap p  { 
 
   
    margin-top: 7vh;
 } 
 .chap a { 
     color: #0E9E2F;
         font-size: 4vh;  

 } 
 .chap .w { 
    font-size: 4vh; 
    color: #D2D2D2; 
    margin-top: 12vh; 
    
 }  
 .mayk { 
    width: 80%; 
    margin-left: 10%; 
    margin-top: 10vh;
 }
 .mayk h1 { 
   font-size: 4vh; 
   color: white;
 } 
 .mayk p { 
    margin-top: 2vh; 
    color: #F2F2F2;
 } 

 .geo { 
    display: flex; 
    width: 90%; 
    height: 20vh;  
    margin-left: 5%;
    margin-top: 15vh; 
    justify-content: space-between;

 } 
 .geo h1 { 
    font-size: 8vh; 
    color: #494B44;
 } 
 .geo p { 
    color: #92938F; 
    font-size: 2.5vh;
 } 
 .xarita { 
    width: 90%; 
    height: 90vh; 
    background-image: url(photo/xarita.png);  
    background-size: cover;
    margin-left: 5%; 
    margin-top: 10vh;   
 } 


 .rr { 
    width: 100%; 
    height: 55vh;  
    margin-top: 25vh;
    background-image: url(/photo/rr.jpg); 
    background-size: cover; 
    display: flex; 
    align-items: center;
    flex-direction: column; 
    justify-content: space-evenly;
 } 
 .rr h1 { 
    font-size: 8vh; 
    color: white; 
 } 
 .rr p { 
    color: white;
 } 
 .rr button { 
    width: 29vh; 
    height: 6.5vh; 
    border-radius: 1vh; 
    color: white; 
    background-color: green; 
    border: none;
 } 


 .strel {  
    margin-top: 20vh; 
    width: 90%;  
    margin-left: 5%;
    height: 15vh; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border-bottom: 1px solid gray;
 } 
 .strel h1 { 
    font-size: 7vh; 
    color: #494B44; 

 }  
 .chor { 
    display: flex;
 }
 .ui { 
    width: 5vh; 
    margin-left: 2vh;
    height: 5vh; 
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
 } 
 .ui h1 { 
    font-size: 5vh; 
    color: #0E9E2F; 
 }  


 .kol { 
    width: 90%; 
    margin-left: 5%; 
    height: 65vh; 
    
    margin-top: 15vh; 
    display: flex;
    justify-content: space-between;
 } 
 .mk { 
    width: 31%; 
    height: 100%; 
    background-color: rgb(224, 223, 223); 
    border-radius: 1vh;
 } 
 .mk h1 { 
    width: 90%; 
    height: 10vh; 
    margin-left: 5%; 
    border-bottom: 1px solid gray; 
    color: #494B44; 
    margin-top: 2vh;  
    display: flex;
    
    align-items: center;
 } 
 .mk h3 { 
    color: #0E9E2F; 
    margin-left: 3vh; 
    margin-top: 7vh; 
    font-size: 3.5vh;
 } 
 .mk p { 
    margin-left: 3vh; 
    color: #92938F; 
    margin-top: 5vh; 
    font-size: 2.5vh;
 } 
 .mk button { 
    width: 25vh; 
    height: 8vh; 
    color: #0E9E2F; 
    border: none; 
    margin-left: 3vh; 
    text-align: left; 
    font-size: 2.5vh;
    margin-top: 7vh;
     background-color: rgb(224, 223, 223);
 } 

 .strel p { 
    color: #0E9E2F; 
    font-size: 3vh;
 }  
 .barbar { 
    width: 90%; 
    height: 75vh; 
    margin-left: 5%; 
    display: flex; 
    justify-content: space-between; 
    margin-top: 10vh;
 } 
 .polo { 
    width: 30%; 
    height: 100%; 
 

    
 } 
 .vc { 
    width: 100%; 
    height: 55%;  

 } 
 .vc img { 
    width: 100%; 
    height: 100%; 
 } 
.polo h1 { 
    font-size: 4vh; 
    margin-top: 3vh; 
    color: #494B44;
} 
.polo p { 
    margin-top: 2vh; 
    color: #92938F; 
    margin-bottom: 2vh;
} 
.polo span { 
    color: green; 
     
} 
.ffg { 
    border: none;
}
 

.oxirrr { 
    width: 100%; 
    height: 95vh; 
    background-size: cover;  
    margin-top: 15vh;
    display: flex; 
    align-items: center;
    background-image: url(/photo/oxirrr.png);
} 
.ppp { 
    width: 45%; 
    margin-left: 5vh; 
    height: 75%; 
   
} 
.ppp h1 { 
    color: white; 
    font-size: 10vh;
} 
.ppp p { 
    font-size: 2.5vh; 
    color: #D2D2D2;  
    margin-top: 3vh;
} 
.fflex { 
    display: flex;  
    margin-top: 3vh; 
    
} 
.krug { 
    width: 6vh; 
    height: 6vh; 
    border-radius: 3vh; 
    border: 1.2px solid green;
} 
.fflex p { 
    font-size: 2vh; 
    margin-left: 1.9vh; 
} 
.ggg { 
    display: flex;
} 
.chh { 
    margin-left: 5vh;
} 

.kkk { 
    width: 37%; 
    margin-left: 20vh; 
    height: 92%; 
    background-image: url(/photo/sabz.png);  
    background-size: cover;
} 

label { 
    color: white;
    font-size: 3vh;
    margin-left: 8vh;  

    
} 
input { 
    width: 80%; 
    margin-left: 10%;  
    height: 6vh;  
    border-radius: 1vh; 
    border: none;  
    margin-top: 2vh;

    
} 
.inn { 
    margin-top: 8vh;
} 
.dta { 
    width: 82%;  
    margin-top: 5vh;
    margin-left: 9%; 
    height: 15vh; 
    display: flex; 
    justify-content: space-between;

}  
.mnol { 
    margin-left: 0;
}

.ght { 
    width: 46%; 

} 
.loll { 
    width: 100%;
} 
select { 
    width: 80%; 
    margin-left: 10%;  
    height: 6vh;  
    border-radius: 1vh; 
    border: none;  
    margin-top: 2vh;

    
} 
textarea { 
    width: 80%; 
    height: 13vh; 
    border: none;
    margin-left: 10%;
} 
.nkl { 
    margin-top: 3vh;
} 
.kkk p { 
    color: white; 
    width: 80%; 
    margin-left: 10%;
} 
.kkk button { 
    width: 25vh; 
    height: 6vh; 
    border: 1px solid white; 
    margin-left: 7.5vh; 
    margin-top: 1.5vh; 
    background-color: transparent; 
    color: white;
}