 * { 
    margin: 0;
 }
 .k { 
    width: 100%; 
    height: 95vh; 
    background-color: aqua; 
    background-image: url(/photo/Rectangle\ 47.jpg); 
    background-size: cover; 

} 
.sar {
    display: flex; 
    width: 90%; 
    height: 10vh; 
    margin-left: 5%; 
    justify-content: space-between; 
    align-items: center; 
}  
.s {
    width: 15vh; 
} 
.in { 
    width: 40%; 
    height: 100%; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 

} 
.in p { 
    color: white;
} 
.nomer { 
    width: 20%; 
    height: 100%; 
    display: flex;
    color: white;
    justify-content: space-around; 
    align-items: center;
}
.kalon { 
    margin-top: 10vh;
    width: 60%;
    margin-left: 9vh; 
    height: 60vh; 
    

}  
.kalon p { 
    color: white;
    font-size: 4vh; 
    margin-top: 7vh;
}
.kalon h1 { 
    font-size: 11vh; 
    color: white;
} 
.but {
    width: 90%; 
    margin-left: 5%; 
    height: 10vh; 
    display: flex; 
    justify-content: space-between;
} 
.but button { 
    width: 20vh; 
    height: 7vh; 
    background-color: green; 
    color: white;
    border: none; 
    border-radius: 1vh; 
    font-size: 2vh;
} 
.but img { 
    width: 8vh; 
    height: 8vh;

} 

.bur { 
    width: 100%; 
    height: 25vh; 
    background-color: #686868; 
    padding-top: 5vh;
} 
.bur h1 { 
    color: white; 
    margin-left: 5vh;  
    font-size: 6vh;
    
} 
.bur p { 
    margin-left: 5vh;
    color: #D2D2D2; 
    font-size: 2.5vh; 
    margin-top: 3vh;
} 

.ugl { 
    width: 100%; 
    height: 70vh; 
        background-color: #686868; 
        display: flex; 
        justify-content: space-evenly;  
        padding-top: 10vh;

} 
.yak { 
    width: 28%; 
    height: 100%; 
    background-color: #535353; 
    border-top-right-radius: 15vh;
} 
.yak img { 
    width: 70%; 
    height: 40%; 
    margin-left: 15%;
    margin-top: 5vh;
 } 
 .ugl h2 { 
    margin-left: 3vh; 
    margin-top: 7vh; 
    color: white;
 } 
 .ugl p { 
    font-size: 2.5vh; 
    margin-left: 3vh; 
    margin-top: 3vh; 
    color: #D2D2D2;
 } 
 .ugl button { 
    width: 30vh; 
    height: 7vh; 
    border: none; 
    border-radius: 0.2vh; 
    background-color: green; 
    color: white; 
    margin-left: 3vh; 
    margin-top: 4vh;
 } 
 .yakk { 
    background-color: #686868;
 } 
 .ugll { 
    padding-bottom: 10vh;
 } 
 .tet { 
    width: 100%; 
    height: 5vh;  
    margin-top: 19vh;
    margin-bottom: 17vh; 
    display: flex; 
    justify-content: center;
 } 
 .tet h1 { 
    font-size: 9vh; 
    color: #494B44;
 } 

 .parr { 
    width: 90%; 
    height: 95vh;  
    margin-left: 5%;
    
    margin-top: 19vh; 
 } 
 .ska { 
    width: 100%; 
    height: 60%; 
    display: flex; 
    justify-content: space-between;
 } 
 .tttex { 
    width: 30%; 
    height: 100%; 
   
 } 
 .surr { 
    width: 66%; 
    height: 100%; 
 } 
 .surr img { 
    width: 100%; 
    height: 100%;
 }
 .mayda { 
    width: 100%; 
    height: 30%;
    margin-top: 2%;
    
    display: flex;
    justify-content: space-between;
 } 
 .mayda img { 
    width: 32%; 
    height: 100%;
 } 
 .tttex h1 { 
    font-size: 7vh; 
    color: green;  
    margin-left: 3vh; 
    margin-top: 4vh;

 } 
 .tttex p { 
    color: #92938F; 
    margin-top: 5vh; 
    margin-left: 3vh;
    font-size: 2.8vh;
 } 
 .cambr { 
    width: 90%; 
    margin-left: 5%; 
    height: 90vh; 
    margin-top: 15vh; 
    background-image: url(/photo/cambr.jpg); 
    background-size: cover; 
    display: flex; 
    justify-content: space-around;
 } 
 .chap { 
    width: 42%; 
    height: 100%; 
    
 }
 .chapp { 
    width: 42%; 
    height: 90%; 
    margin-top: 4.8%; 
    background-image: url(/photo/sabz.png);
    background-size: cover;
 } 
 .chap h1 { 
    font-size: 7vh; 
    color: white; 
    margin-top: 14%; 
 } 
 .chap p  { 
 
   
    margin-top: 7vh;
 } 
 .chap a { 
     color: #0E9E2F;
         font-size: 4vh;  

 } 
 .chap .w { 
    font-size: 4vh; 
    color: #D2D2D2; 
    margin-top: 12vh; 
    
 }  
 .mayk { 
    width: 80%; 
    margin-left: 10%; 
    margin-top: 10vh;
 }
 .mayk h1 { 
   font-size: 4vh; 
   color: white;
 } 
 .mayk p { 
    margin-top: 2vh; 
    color: #F2F2F2;
 } 

 .geo { 
    display: flex; 
    width: 90%; 
    height: 20vh;  
    margin-left: 5%;
    margin-top: 15vh; 
    justify-content: space-between;

 } 
 .geo h1 { 
    font-size: 8vh; 
    color: #494B44;
 } 
 .geo p { 
    color: #92938F; 
    font-size: 2.5vh;
 } 
 .xarita { 
    width: 90%; 
    height: 90vh; 
    background-image: url(photo/xarita.png);  
    background-size: cover;
    margin-left: 5%; 
    margin-top: 10vh;
 }