 * { 
    margin: 0;
 }
 .k { 
    width: 100%; 
    height: 95vh; 
    background-color: aqua; 
    background-image: url(/photo/Rectangle\ 47.jpg); 
    background-size: cover; 

} 
.sar {
    display: flex; 
    width: 90%; 
    height: 10vh; 
    margin-left: 5%; 
    justify-content: space-between; 
    align-items: center; 
}  
.s {
    width: 15vh; 
} 
.in { 
    width: 40%; 
    height: 100%; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 

} 
.in p { 
    color: white;
} 
.nomer { 
    width: 20%; 
    height: 100%; 
    display: flex;
    color: white;
    justify-content: space-around; 
    align-items: center;
}
.kalon { 
    margin-top: 10vh;
    width: 60%;
    margin-left: 9vh; 
    height: 60vh; 
    

}  
.kalon p { 
    color: white;
    font-size: 4vh; 
    margin-top: 7vh;
}
.kalon h1 { 
    font-size: 11vh; 
    color: white;
} 
.but {
    width: 90%; 
    margin-left: 5%; 
    height: 10vh; 
    display: flex; 
    justify-content: space-between;
} 
.but button { 
    width: 20vh; 
    height: 7vh; 
    background-color: green; 
    color: white;
    border: none; 
    border-radius: 1vh; 
    font-size: 2vh;
} 
.but img { 
    width: 8vh; 
    height: 8vh;

} 

.bur { 
    width: 100%; 
    height: 25vh; 
    background-color: #686868; 
    padding-top: 5vh;
} 
.bur h1 { 
    color: white; 
    margin-left: 5vh;  
    font-size: 6vh;
    
} 
.bur p { 
    margin-left: 5vh;
    color: #D2D2D2; 
    font-size: 2.5vh; 
    margin-top: 3vh;
} 

.ugl { 
    width: 100%; 
    height: 70vh; 
        background-color: #686868; 
        display: flex; 
        justify-content: space-evenly; 

} 
.yak { 
    width: 30%; 
    height: 100%; 
    background-color: #535353; 
    border-top-right-radius: 15vh;
} 
.yak img { 
    width: 70%; 
    height: 40%; 
    margin-left: 15%;
    margin-top: 5vh;
 } 
 .ugl h2 { 
    margin-left: 3vh; 
    margin-top: 7vh; 
    color: white;
 } 
 .ugl p { 
    font-size: 2.5vh; 
    margin-left: 3vh; 
    margin-top: 3vh; 
    color: #D2D2D2;
 } 
 .ugl button { 
    width: 30vh; 
    height: 7vh; 
    border: none; 
    border-radius: 0.2vh; 
    background-color: green; 
    color: white; 
    margin-left: 3vh; 
    margin-top: 4vh;
 }